<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/public/images/favicon.ico" />
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <link rel="preconnect" href="https://www.gstatic.com" />
    <link
      rel="preload"
      as="script"
      href="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
    />
    <link
      rel="manifest"
      type="application/manifest+json"
      href="/public/app.webmanifest"
    />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Pokédle - Classic</title>
  </head>
  <body style="background-image: url('<%= bg %>')">
    <div id="topnav">
      <div id="authref">
        <p>Created by <a href="https://github.com/maxm33">maxm33</a></p>
      </div>
      <input
        type="button"
        value="Login "
        id="login-button"
        class="topnav-buttons"
      />
      <input
        type="button"
        value="Ranking"
        id="ranking-button"
        class="topnav-buttons"
      />
      <input
        type="button"
        value="Pokédex"
        id="pokedex-button"
        class="topnav-buttons"
      />
      <input
        type="button"
        value="Profile"
        id="profile-button"
        class="topnav-buttons"
      />
    </div>
    <div id="container">
      <div id="logo">
        <a aria-label="Go to Home" href="/"
          ><img alt="" src="/public/images/pokedle-logo.webp"
        /></a>
      </div>
      <div id="prev-title"></div>
      <div id="timer">A new Pokémon is spawning in ...</div>
      <div id="subtitle"></div>
      <div id="textbar-container" style="display: none">
        <div id="autocomplete">
          <input
            id="textbar"
            type="text"
            name="pokemon"
            placeholder="Type the Pokémon here..."
          />
        </div>
        <button id="guess-button" type="submit">Guess</button>
      </div>
      <div id="state-container" style="display: none">
        <div id="titles-container">
          <div class="titles">
            <p>Pokémon</p>
          </div>
          <div class="titles">
            <p>Habitat</p>
          </div>
          <div class="titles">
            <p>Color(s)</p>
          </div>
          <div class="titles">
            <p>Type(s)</p>
          </div>
          <div class="titles">
            <p>Fully Evolved</p>
          </div>
          <div class="titles">
            <p>Evolution Level</p>
          </div>
          <div class="titles">
            <p>Gen</p>
          </div>
        </div>
        <div id="answers-container"></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/public/js/classicMode.js"></script>
  </body>
</html>
