<!DOCTYPE html>
<html lang="it">
  <head>
    <link rel="icon" href="/public/images/favicon.png" />
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Offline</title>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <a href="/"><img alt="" src="/public/images/pokedle-logo.webp" /></a>
      </div>
      <div id="subtitle">
        <p>Sembra che tu sia offline. Che peccato...</p>
      </div>
    </div>
  </body>
</html>
