<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/public/images/icons/favicon.ico" />
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <link
      rel="manifest"
      type="application/manifest+json"
      href="/public/app.webmanifest"
    />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Pokédex</title>
  </head>
  <body style="background-image: url('<%= bg %>')">
    <div id="topnav">
      <div id="buttons-container">
        <button id="login-button" class="topnav-buttons">
          <img
            id="login-img"
            alt=""
            src="/public/images/misc/login.webp"
            width="35px"
            height="35px"
          />
        </button>
        <button id="ranking-button" class="topnav-buttons">
          <img
            alt=""
            src="/public/images/misc/ranking.webp"
            width="35px"
            height="35px"
          />
        </button>
        <button id="pokedex-button" class="topnav-buttons">
          <img
            alt=""
            src="/public/images/misc/pokedex.webp"
            width="35px"
            height="35px"
          />
        </button>
        <button id="profile-button" class="topnav-buttons">
          <img
            alt=""
            src="/public/images/misc/profile.webp"
            width="35px"
            height="35px"
          />
        </button>
      </div>
    </div>
    <div id="container">
      <div id="logo" class="fadeIn">
        <a aria-label="Go to Home" href="/"
          ><img alt="" src="/public/images/icons/pokedle-logo.webp"
        /></a>
      </div>
      <h1 id="dex-trainer">
        Trainer: <a id="dex-profile-link"><%= name %></a>
      </h1>
      <h2 id="dex-discovered"></h2>
    </div>
    <footer>
      <p id="author">
        Created by <a href="https://github.com/maxm33">maxm33</a>
      </p>
      <img
        alt=""
        src="/public/images/icons/github-mark.webp"
        width="20px"
        height="20px"
      />
    </footer>
    <script type="module">
      import { pokemons } from "../../public/js/pokemons.js";

      var url = window.location.href;
      var ref = url.substring(0, url.length - 8); // removing "/pokedex"
      document.getElementById("dex-profile-link").href = ref + "/profile";

      var container = document.getElementById("container");
      var div = document.createElement("DIV");
      div.setAttribute("id", "dex-container");

      // generating all the pokedex rows as unknown
      for (var i = 0; i < pokemons.length; i++) {
        var subdiv = document.createElement("DIV");
        subdiv.setAttribute("class", "dex-rows");
        subdiv.setAttribute("id", pokemons[i]);
        subdiv.innerHTML = `<p class="dex-rows-numbers">${i + 1}.</p>
        <img alt="" src="/public/images/sprites/unknown.webp" width="90px" height="90px"/>
        <p class="dex-rows-names">???</p>`;
        div.appendChild(subdiv);
      }
      container.appendChild(div);

      // replacing unknown rows with known ones (according to the user's history)
      var history = `<%- JSON.stringify(history) %>`;
      history = JSON.parse(history);
      document.getElementById(
        "dex-discovered"
      ).textContent = `${history.length}/${pokemons.length} Pokémons discovered`;
      for (var i = 0; i < history.length; i++) {
        var subdiv = document.getElementById(history[i].pokemon);
        subdiv.innerHTML = `<p class="dex-rows-numbers">${subdiv.firstChild.innerHTML}</p>
          <img alt="" src="/public/images/sprites/${history[i].pokemon}.webp" width="100px" height="100px"/>
          <p class="dex-rows-names">${history[i].pokemon}</p>
          <p class="dex-rows-guesses">Guessed: ${history[i].timesGuessed}</p>`;
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/public/js/auth.js"></script>
  </body>
</html>
