<!DOCTYPE html>
<html lang="it">
  <head>
    <link rel="icon" href="/public/images/favicon.ico" />
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <link
      rel="manifest"
      type="application/manifest+json"
      href="/app.webmanifest"
    />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Rankings</title>
  </head>
  <body>
    <div id="container">
      <div id="logo">
        <a href="/"><img alt="" src="/public/images/pokedle-logo.webp" /></a>
      </div>
      <div id="subtitle">
        <h1>TOP 10 PLAYERS</h1>
        <% for (var i = 0; i < rankingData.length; i++) { %>
        <div class="ranking-rows">
          <b
            ><%= i+1 %>.
            <a href="/user/<%= rankingData[i].id %>/profile"
              ><%= rankingData[i].name %></a
            ></b
          >
          - <%= rankingData[i].wins %> wins<br />
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
