html,
body {
  height: 100%;
  overflow-x: hidden;
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/public/images/background.webp") no-repeat 50% fixed;
  background-size: cover;
  background-color: #000;
  overflow-y: hidden;
}

body {
  background-color: transparent !important;
  margin: 8px;
  overflow-y: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  height: 170px;
  width: 395px;
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

h1 {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.pokemon-not-guessed {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
  width: 600px;
  background-color: blanchedalmond;
  border-radius: 36px;
  margin-bottom: 20px;
  animation: fadeIn 1s;
}

.pokemon-guessed {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
  width: 600px;
  background-color: #9dda77;
  border-radius: 36px;
  margin-bottom: 20px;
  animation: fadeIn 1s;
}

b {
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

p {
  margin: 50px;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
