html,
body {
  height: 100%;
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/public/images/background.webp") no-repeat 50% fixed;
  background-size: cover;
  background-color: #000;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  margin: 0.5em;
  background-color: transparent !important;
  overflow-y: auto;
}

.topnav {
  background-color: transparent;
  overflow: hidden;
}

#authref {
  color: white;
  float: left;
  font-size: 1em;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.coolbutton {
  color: white;
  background-color: #333;
  float: right;
  font-size: 1.2em;
  font-weight: 800;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  margin: 0.22em;
  border: none;
  border-radius: 0.8em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.coolbutton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  height: 8em;
  width: 15em;
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

#subtitle {
  color: white;
  animation: fadeIn 1s;
  margin-top: 2.5em;
  margin-bottom: 1.75em;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#timer {
  color: lightgreen;
  margin-top: 3em;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a:link {
  color: greenyellow;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: deepskyblue;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: yellow;
  background-color: transparent;
}

* {
  box-sizing: border-box;
}

body {
  font: 0.95em Arial;
}

#autocomplete {
  position: relative;
  display: inline-block;
  margin-left: 3.5em;
}

.shake {
  animation: horizontal-shaking 0.35s;
}

input[type="text"] {
  color: white;
  background-color: #333;
  width: 100%;
  border: 0.05em solid transparent;
  border-radius: 0.7em;
  padding: 0.65em;
  font-size: 1.05em;
}

input[type="hidden"] {
  background-color: transparent !important;
}

#autocomplete {
  width: 16em;
}

.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  box-sizing: border-box;
  max-height: 27.7em;
  overflow-y: scroll;
}

.list-option {
  display: flex;
  align-items: center;
  border-radius: 0.36em;
  font-size: 1.1em;
  font-weight: 100;
}

.autocomplete-items div {
  color: white;
  background-color: #333;
  cursor: pointer;
  border: none;
}

.autocomplete-items div:hover {
  transition: all 0.2s;
  background-color: #404040;
}

.autocomplete-items::-webkit-scrollbar {
  width: 0.5em;
}

.autocomplete-items::-webkit-scrollbar-track {
  background: transparent;
}

.autocomplete-items::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border: 0.15em solid transparent;
  border-radius: 1em;
}

.button-bouncy {
  position: relative;
  display: inline-block;
  color: white;
  background-color: transparent;
  margin: 0em 0.3em 0.3em 0;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  border-radius: 0.96em;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.2s;
  animation: bouncy 3s infinite linear;
}

.button-bouncy:hover {
  color: black;
  background-color: white;
}

#answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#answer-titles {
  display: flex;
  flex-direction: row;
  margin-top: 0.6em;
  margin-bottom: 0.8em;
  width: 36em;
  height: 3em;
  animation: fadeIn 1s;
  visibility: hidden;
}

.titles {
  color: white;
  margin: 0.1em;
  width: 6em;
  font-weight: bold;
}

.answer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.8em;
  width: 36em;
  height: 5em;
}

.wrong {
  position: relative;
  color: white;
  background-color: red;
  text-align: center;
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding-top: 0.6em;
  height: 4.5em;
  width: 5.5em;
  border-radius: 0.8em;
  font-weight: bold;
  animation: fadeIn 1.5s;
}

.correct {
  position: relative;
  color: white;
  background-color: #008000;
  text-align: center;
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding-top: 0.6em;
  height: 4.5em;
  width: 5.5em;
  border-radius: 0.8em;
  font-weight: bold;
  animation: fadeIn 1.5s;
}

.partial {
  position: relative;
  color: white;
  background-color: #cc7722;
  text-align: center;
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding-top: 0.6em;
  height: 4.5em;
  width: 5.5em;
  border-radius: 0.8em;
  font-weight: bold;
  animation: fadeIn 1.5s;
}

#victory-ad {
  position: absolute;
  color: #fff;
  background-color: #333;
  display: flex;
  flex-direction: column;
  z-index: 2400;
  width: 26em;
  height: 36em;
  border-radius: 3em;
  animation: fadeIn 2s;
}

.victory-button {
  color: black;
  background-color: white;
  cursor: pointer;
  margin: 0;
  padding: 0.8em;
  border-radius: 3em;
  border-width: 0;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  list-style: none;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#pokedex-title {
  color: white;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.pokemon-guessed {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: blanchedalmond;
  height: 7.5em;
  width: 32em;
  margin-bottom: 1em;
  border-radius: 1.8em;
  animation: fadeIn 1s;
}

.pokedex-bold {
  color: black;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1em;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.pokedex-text {
  color: black;
  margin: 2.5em;
  font-size: 1em;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0.25em);
  }
  50% {
    transform: translateX(-0.25em);
  }
  75% {
    transform: translateX(0.25em);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
