html,
body {
  height: 100%;
  overflow-x: hidden;
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/background.webp") no-repeat 50% fixed;
  background-size: cover;
  background-color: #000;
  overflow-y: hidden;
}

body {
  background-color: transparent !important;
  margin: 8px;
  overflow-y: auto;
}

.topnav {
  background-color: transparent;
  overflow: hidden;
}

#authref {
  float: left;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.coolbutton {
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 4px;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 16px;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 800;
}

.coolbutton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#pokedexButton {
  visibility: hidden;
}

#profileButton {
  visibility: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  height: 170px;
  width: 395px;
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

#subtitle {
  margin-top: 100px;
  margin-bottom: 35px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
}

a:link {
  color: greenyellow;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: deepskyblue;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: yellow;
  background-color: transparent;
}

* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;
}

#autocomplete {
  position: relative;
  display: inline-block;
  margin-left: 70px;
}

.shake {
  animation: horizontal-shaking 0.35s;
}

input[type="text"] {
  border: 1px solid transparent;
  border-radius: 10px;
  color: white;
  background-color: #333;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

input[type="hidden"] {
  background-color: transparent !important;
}

.autocomplete-items {
  position: absolute;
  border-radius: 6px;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  box-sizing: border-box;
  max-height: 480px;
  overflow-y: scroll;
}

.list-option {
  display: flex;
  align-items: center;
  border-radius: 0.36em;
}

.autocomplete-items div {
  cursor: pointer;
  color: white;
  background-color: #333;
  border-bottom: 1px solid #d4d4d4;
  border: none;
}

.autocomplete-items div:hover {
  transition: all 0.2s;
  background-color: #404040;
}

.autocomplete-items::-webkit-scrollbar {
  width: 8px;
}

.autocomplete-items::-webkit-scrollbar-track {
  background: transparent;
}

.autocomplete-items::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 20px;
  border: 3px solid transparent;
}

.button-bouncy {
  display: inline-block;
  position: relative;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.96em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  color: white;
  text-align: center;
  background-color: transparent;
  transition: all 0.2s;
  animation: bouncy 3s infinite linear;
}

.button-bouncy:hover {
  background-color: white;
  color: black;
}

#answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#answer-titles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  visibility: hidden;
  width: 580px;
  height: 50px;
  animation: fadeIn 1s;
}

.titles {
  width: 80px;
  margin: 6px;
  color: white;
  font-weight: bold;
}

.answer {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  height: 100px;
  width: 580px;
}

.wrong {
  text-align: center;
  word-wrap: break-word;
  height: 70px;
  width: 81px;
  margin: 4px;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  animation: fadeIn 1.5s;
  position: relative;
  border: 1px solid hsla(0, 0%, 100%, 0.59);
  box-sizing: border-box;
}

.correct {
  text-align: center;
  word-wrap: break-word;
  height: 70px;
  width: 81px;
  margin: 4px;
  border-radius: 10px;
  background-color: #008000;
  color: white;
  font-weight: bold;
  animation: fadeIn 1.5s;
  position: relative;
  border: 1px solid hsla(0, 0%, 100%, 0.59);
  box-sizing: border-box;
}

.partial {
  text-align: center;
  word-wrap: break-word;
  height: 70px;
  width: 81px;
  margin: 4px;
  border-radius: 10px;
  background-color: #cc7722;
  color: white;
  font-weight: bold;
  animation: fadeIn 1.5s;
  position: relative;
  border: 1px solid hsla(0, 0%, 100%, 0.59);
  box-sizing: border-box;
}

#victory-ad {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2400;
  width: 450px;
  height: 630px;
  border-radius: 6px;
  background-color: #000;
  color: #fff;
  opacity: 0.925;
  animation: fadeInCustom 2s;
}

.victory-button {
  background-color: dodgerblue;
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
}

@keyframes fadeInCustom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.925;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
